<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <fieldset class="admin-login-con">
      <div class="col-xs-12">
        <lable class="login-heading">Admin Sign In</lable>
        <%= form_tag admin_sign_in_path do %>
            <div class="form-group">
              <%= label_tag :email %>
              <%= email_field_tag :email, params[:email], class: 'form-control login-textfield' %>
            </div>
            <div class="form-group">
              <%= label_tag :password %>
              <%= password_field_tag :password, '',class: 'form-control login-textfield' %>
            </div>
            <div class="form-group">
              <%= submit_tag 'Sign In', class: 'btn btn-success' %>
            </div>
        <%- end %>
      </div>
      <div class="clearfix"></div>
    </fieldset>
  </div>
  <div class="col-sm-4"></div>
</div>