<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li><%= link_to 'New Distance', new_admin_distance_path, class: 'btn btn-primary' %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= will_paginate @distances %>
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>From Airport Id</th>
        <th>To Airport Id</th>
        <th>Distance In NM</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @distances.each do |distance| %>
          <tr>
            <td><%= Airport.find(distance.from_airport_id).name %></td>
            <td><%= Airport.find(distance.to_airport_id).name  %></td>
            <td><%= distance.distance_in_nm %></td>
            <td>
              <%= link_to edit_admin_distance_path(distance) do %>
                  <i class="fa fa-edit"></i>
              <%-end%>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
    <%= will_paginate @distances %>
  </div>
</div>