<p>Dear <%= @subscriber.name %>,</p>
<p>We have an exciting JetSteal available on your requested sectors so we thought of you. Details are as follows:</p>
<p>
  <strong>Departure:</strong> <%= @jetsteal.departure_airport.name %>, <%= @jetsteal.departure_airport.city.name %>
  <br>
  <strong>Arrival:  </strong> <%= @jetsteal.arrival_airport.name %>, <%= @jetsteal.arrival_airport.city.name %>
  <br>
  <strong>Time:     </strong> <%= @jetsteal.end_at.strftime('%d %b %Y, %I:%M %p') %>
  <br>
  <strong>Price:    </strong> Starting @ <%= @jetsteal.sell_by_seats? ? @jetsteal.min_seat_cost : @jetsteal.cost %>
</p>
<p>Should you want to book it please click <a href="http://j.jetsetgo.in">here</a> or simply call us on +91-11-39585858 for any help.</p>
<p>You can always find an up-dated list of available Jetsteal’s on <a href="http://j.jetsetgo.in/jetsteals/list">http://j.jetsetgo.in/jetsteals/list</a></p>
<p>
  Happy Landing,
  <br>
  Monica from JetSetGo
</p>