<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <% # for emails that dont have any names, this is ported from last system %>
            <% if @subscriber.name == 'placeholder' or @subscriber.phone == '9999999999' %>
            <%- else %>
                <p>Dear <%= @subscriber.name %>,</p>
            <%- end %>
            <p>We have an exciting JetSteal available on your requested sectors so we thought of you. Details are as follows:</p>
            <p style="display: inline-block">
              <% if @jetsteal.aircraft.aircraft_images.first.try(:image) %>
                <img style="margin-right: 10px; padding: 2px; border: 1px solid lightgray" src="<%= @jetsteal.aircraft.aircraft_images.first.image.url(:size_250x250) %>" alt="">
              <%- end %>
              <strong style="display: inline-block; min-width: 80px">Aircraft:</strong>&nbsp;<%= @jetsteal.aircraft.aircraft_type.name %>
              <br>
              <strong style="display: inline-block; min-width: 80px">Departure:</strong>&nbsp;<%= @jetsteal.departure_airport.name %>, <%= @jetsteal.departure_airport.city.name %>
              <br>
              <strong style="display: inline-block; min-width: 80px">Arrival:</strong>&nbsp;<%= @jetsteal.arrival_airport.name %>, <%= @jetsteal.arrival_airport.city.name %>
              <br>
              <strong style="display: inline-block; min-width: 80px">Time:</strong>&nbsp;<%= @jetsteal.end_at.strftime('%d %b %Y, %I:%M %p') %>
              <br>
              <strong style="display: inline-block; min-width: 80px">Price:</strong>&nbsp;Starting @ <%= @jetsteal.sell_by_seats? ? @jetsteal.min_seat_cost : @jetsteal.cost %>
            </p>
            <p>Should you want to book it please click <a href="http://j.jetsetgo.in">here</a> or simply call us on +91-11-39585858 for any help.</p>
            <p>You can always find an up-dated list of available Jetsteal’s <a href="http://j.jetsetgo.in/jetsteals/list">here</a>.</p>
            <p>
              Happy Landing,
              <br>
              Monica from JetSetGo
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>