<p>Dear <%= @subscriber.name %>,</p>
<p>We have an exciting JetSteal available on your requested sectors so we thought of you. Details are as follows:</p>
<p>
  <strong>Departure:</strong>&nbsp;<%= @jetsteal.departure_airport.name %>, <%= @jetsteal.departure_airport.city.name %>
  <br>
  <strong>Arrival:&nbsp;&nbsp;</strong>&nbsp;<%= @jetsteal.arrival_airport.name %>, <%= @jetsteal.arrival_airport.city.name %>
  <br>
  <strong>Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;<%= @jetsteal.end_at.strftime('%d %b %Y, %I:%M %p') %>
  <br>
  <strong>Price:&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;Starting @ <%= @jetsteal.sell_by_seats? ? @jetsteal.min_seat_cost : @jetsteal.cost %>
</p>
<p>Should you want to book it please click <a href="http://j.jetsetgo.in">here</a> or simply call us on +91-11-39585858 for any help.</p>
<p>You can always find an up-dated list of available Jetsteal’s <a href="http://j.jetsetgo.in/jetsteals/list">here</a>.</p>
<p>
  Happy Landing,
  <br>
  Monica from JetSetGo
</p>