<div class="admin-main-con">
  <div class='col-xs-12'>
    <h2>Aircraft Categories</h2>
    <div class="admin_content_body">
      <div class="col-sm-12">
        <ul class="list-inline">
          <li><%= link_to 'Add Aircraft category', new_admin_aircraft_category_path, class: 'btn btn-primary' %></li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped table-data-con">
            <thead>
            <tr class="info">
              <th>Id</th>
              <th>Name</th>
              <th>Mtow</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% @aircraft_categories.each do |aircraft_category| %>
                <tr>
                  <td><%= aircraft_category.id %></td>
                  <td><%= aircraft_category.name %></td>
                  <td><%= aircraft_category.mtow %></td>
                  <td>
                    <%= link_to edit_admin_aircraft_category_path(aircraft_category) do %>
                        <i class="fa fa-edit"></i>
                    <%- end %>
                  </td>
                </tr>
            <%- end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
