<div class="admin-main-con">
  <div class='col-xs-12'>
    <h2>Sell Empty Legs</h2>
    <div class="admin_content_body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped table-data-con">
            <thead>
            <tr class="info">
              <th>Tail number</th>
              <th>Departure airport</th>
              <th>Arrival airport</th>
              <th>Start at</th>
              <th>End at</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @activities.each do |activity| %>
                <tr>
                  <td><%= activity.aircraft.tail_number %></td>
                  <td><%= activity.departure_airport.name %></td>
                  <td><%= activity.arrival_airport.name %></td>
                  <td><%= activity.start_at.strftime(time_format) %></td>
                  <td><%= activity.end_at.strftime(time_format) %></td>
                  <td>
                    <%= link_to admin_sell_empty_leg_path(activity) do %>
                        <i class="fa fa-eye"></i>
                    <%- end %>
                  </td>
                </tr>
            <%- end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>