<div class="admin-main-con">
  <div class='col-xs-12'>
    <h2>Edit all aircraft types</h2>
    <div class="admin_content_body">
      <% if @aircraft_types.any? %>
          <div class="col-sm-12">
            <ul class="list-inline">
              <li>
                <% attrs = @aircraft_types.first.attributes.keys %>
                <%= form_tag edit_all_admin_aircraft_types_path, method: :get do %>
                    <%= select_tag :field, options_for_select(attrs, params[:field]) %>
                    <%= text_field_tag :value, params[:value] %>
                    <%= submit_tag 'search' %>
                <%- end %>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-stripped">
                <thead>
                <tr>
                  <% attrs.each do |attr| %>
                      <% next if attr == 'svg' or attr == 'description' %>
                      <th><%= attr %></th>
                  <%- end %>
                </tr>
                </thead>
                <% @aircraft_types.each do |aircraft_type| %>
                    <tr>
                      <% attrs.each do |attr| %>
                          <% next if attr == 'svg' or attr == 'description' %>
                          <td>
                            <% case attr %>
                            <% when 'aircraft_category_id' %>
                                <%= best_in_place aircraft_type, attr.to_sym, url: admin_aircraft_type_path(aircraft_type), confirm: true, collection: AircraftCategory.all.collect{ |c| [c.id, c.name] }, as: :select %>
                            <%- else %>
                                <%= best_in_place aircraft_type, attr.to_sym, url: admin_aircraft_type_path(aircraft_type), confirm: true %>
                            <%- end %>
                          </td>
                      <%- end %>
                    </tr>
                <%- end %>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
      <%- end %>
    </div>
  </div>
</div>