<table class="table table-striped">
  <thead>
  <tr class="info">
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
		<% @operators.each do |operator|%>
		<tr>
			<td><%= operator.first_name %></td>
			<td><%= operator.last_name %></td>
			<td><%= operator.email %></td>
			<td><%= operator.phone %></td>
			<td>
				<%= link_to operator.approved_by_admin? ? 'active' : 'inactive', admin_operator_path(operator, approved_by_admin: operator.approved_by_admin? ? false : true), method: :put, class: 'btn btn-' + "#{operator.approved_by_admin? ? 'success ' : 'danger '}" +'btn-xs' %>
			</td>			
		</tr>
		<%end%>
  </tbody>
</table>
