<div class="row" id="header">
  <div class="small-12 medium-2 small-text-center logo-main-con column">
    <a href="http://jetsetgo.in"><%= image_tag 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/023/original/JSG-main-logo-db779e87994672c825f333c07a75d7d2_%281%29.png?1453111090', class: 'logo' %></a>
    <div class="show-for-small-only float-right">
      <a href="Javascript:void(0)" onclick="$('#res_links').slideToggle()"><i class="fa fa-list-ul responsive_dropdown"></i></a>
    </div>
  </div>
  <div class="medium-5 hide-for-small-only small-12 column">
    <ul class="inline-list logo_list">
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=jet', class: 'main_link', id: 'jet_link' %>
      </li>
      <li>
        <%= link_to '', 'http://j.jetsetgo.in', class: 'main_link', id: 'jetsteal_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=experience', class: 'main_link', id: 'experiences_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=multi_trip', class: 'main_link', id: 'multi_trip_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=ambulance', class: 'main_link', id: 'rescue_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=jetsetcars', class: 'main_link', id: 'jetsetcars_link' %>
      </li>
    </ul>
  </div>
  <div class="medium-5 hide-for-small-only small-12 column">
    <ul class="inline-list right_list">
      <li id="download-app" class="animated add-rubber-band">
        <a href="Javascript:void(0)" data-toggle="ios_app">
          <strong><i style="font-size: 17px;" class="fa fa-mobile-phone"></i></strong> Download App
        </a>
      </li>
      <li>
        <%= link_to 'tel:+911139585858' do %>
            <i class="fa fa-phone"></i> +91-11-39585858
        <%- end %>
      </li>
      <li>
        <%= link_to 'mailto:info@jetsetgo.in' do %>
            <i class="fa fa-envelope"></i> info@jetsetgo.in
        <%- end %>
      </li>
    </ul>
  </div>
</div>
<div class="row responsive_links show-for-small-only" style="display: none" id="res_links">
  <div class="columns small-12 text-center">
    <ul class="inline-list">
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=jet', class: 'main_link' %>
      </li>
      <li>
        <%= link_to '', 'http://j.jetsetgo.in', class: 'main_link jetsteal_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=experience', class: 'main_link experiences_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=multi_trip', class: 'main_link multi_trip_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=ambulance', class: 'main_link rescue_link' %>
      </li>
      <li>
        <%= link_to '', 'http://jetsetgo.in?current_page=jetsetcars', class: 'main_link jetsetcars_link' %>
      </li>
    </ul>
  </div>
  <div class="columns small-12 text-center">
    <ul class="inline-list">
      <li>
        <a style="display: initial" href="Javascript:void(0)" data-toggle="ios_app">
          <strong><i style="font-size: 14px;" class="fa fa-mobile-phone"></i></strong> Download App
        </a>
      </li>
      <li>
        <%= link_to 'tel:+911139585858', style: 'display: inline;' do %>
            <i class="fa fa-phone"></i> +91-11-39585858
        <%- end %>
      </li>
      <li>
        <%= link_to 'mailto:info@jetsetgo.in', style: 'display: inline;' do %>
            <i class="fa fa-envelope"></i> info@jetsetgo.in
        <%- end %>
      </li>
    </ul>
  </div>
</div>
<div class="large reveal" style="width: 80%" id="ios_app" data-reveal>
  <div class="row" style="">
    <div class="columns medium-5" style="color: black; text-align: center">
      <h1 class="text-center">JetSteals™</h1>
      <h4 class="text-center">The new ordinary in flying!</h4>
      <p class="text-center">Through our JetSteals™ platform you can experience the joy of flying private and networking with like minded people like never before- at 30,000 feet! Simply pick an aircraft or sector of your choice, chose between having the whole aircraft to yourself or just a seat and pay in 3 simple steps.</p>
      <div class="text-center">
        <a href="https://itunes.apple.com/us/app/jetsteals/id1078158963?ls=1&mt=8" target="_blank">
          <%= render partial: 'jetsteals/lists/download_on_app_store' %>
        </a>
      </div>
    </div>
    <div class="columns medium-7 text-center">
      <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/067/original/phone-app_%281%29.png?1455693403" alt="">
    </div>
  </div>
  <button style="" class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>