<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li><%= link_to 'New Jetsteal', new_admin_jetsteal_path, class: 'btn btn-primary' %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Id</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Aircraft</th>
        <th>Sell by Seats?</th>
        <th>Start At</th>
        <th>End At</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>
      <% @jetsteals.each do |jetsteal| %>
          <tr>
            <td><%= jetsteal.id %></td>
            <td><%= jetsteal.departure_airport.name %></td>
            <td><%= jetsteal.arrival_airport.name %></td>
            <td><%= jetsteal.aircraft.tail_number %></td>
            <td>
              <% if jetsteal.sell_by_seats? %>
                  <span class="label label-success">YES</span>
              <%- else %>
                  <span class="label label-default">NO</span>
              <%- end %>
            </td>
            <td><%= jetsteal.start_at.strftime('%d-%b-%Y %H:%M') %></td>
            <td><%= jetsteal.end_at.strftime('%d-%b-%Y %H:%M') %></td>
            <td><%= rupees jetsteal.cost %></td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>