<p class="h1">Dear Team</p>
<p>We have received a new  Service enquiry. Below is the one:-</p>

Customer Name: <%= @yatra_enquiry.name %>
<br>
Email id: <%= @yatra_enquiry.email %>
<br>
Mobile no: <%= @yatra_enquiry.mobile_number %>
<br>
Service type: <%= @yatra_enquiry.package %>
<br>
From: <%= @yatra_enquiry.date_of_travel.strftime(time_format) %>

<br><br>
Thank you,
<br>
 JetSetGo Team