<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Hi, Admin</p>
            <p>
              <strong><%= @operator.full_name.titleize %></strong> delete a trip from Organisation <strong><%= @operator.organisation.name.capitalize %></strong>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p>
              <strong>Leg</strong>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table width="100%">
        <% @activity.attributes.each_pair do |key, value| %>
            <tr style="border: 1px solid #000000;">
              <td width="50%" valign="top" style="border: 1px solid #000000;">
                <div class="column">
                  <table width="100%">
                    <tr>
                      <td class="inner">
                        <p class="h2" style="font-size: 14px;">
                          <% if key == 'departure_airport_id' %>
                              departure airport
                          <% elsif key == 'arrival_airport_id' %>
                              arrival airport
                          <% else %>
                              <%= key %>
                          <% end %>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td width="50%" valign="top" style="border: 1px solid #000000;">
                <div class="column">
                  <table width="100%">
                    <tr>
                      <td class="inner">
                        <p class="h2" style="font-size: 14px;">
                          <% if key == 'departure_airport_id' %>
                              <%= @activity.departure_airport.name %>
                          <% elsif key == 'arrival_airport_id' %>
                              <%= @activity.arrival_airport.name %>
                          <% elsif key == 'start_at' || key == 'end_at' %>
                              <%= value.strftime(time_format) %>
                          <% else %>
                              <%= value %>
                          <% end %>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>