Hi,
<br><br>
<%= @operator.full_name %> has registered to JetSetGo as operator with following details.
<br><br>
We have to approve the organisation and all its aircrafts before they start showing in search results.
<br><br>
<table border="1">
  <tr>
    <th>Organisation Name</th>
    <td><%= @organisation.name %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @operator.full_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @operator.email %></td>
  </tr>
  <tr>
    <th> Contact No.</th>
    <td><%= @operator.phone %></td>
  </tr>
</table>
<br><br>
Please go to the following link to view the Details. <a href="http://j.jetsetgo.in/admin/organisations">View Detail</a>
<br><br>
Happy landings,
<br>
 Monika from JetSetGo