<%= simple_form_for [:admin, @offer] do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.error_notification %>
        <%= f.input :start_at %>
        <%= f.input :end_at%>
        <%= f.input :category %>
        <% if f.object.image.present? %>
            <%= image_tag f.object.image.url(:original) %>
        <%- end %>
        <%= f.input :image %>
        <%= f.submit 'Save', class: 'btn btn-success ' %>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
<%- end %>
