<div class="row seat_field" data-ui-seat-id="<%= f.object.ui_seat_id %>" >
  <%= f.input :id, as: :hidden %>
  <div class="col-sm-4">
    <%= f.input :ui_seat_id, label: false, as: :hidden %>
    <%= f.input :ui_seat_id, disabled: true, label: false %>
  </div>
  <div class="col-sm-3">
    <%= f.input :disabled %>
  </div>
  <div class="col-sm-5">
    <%= f.input :cost, label: false, placeholder: 'Cost' %>
  </div>
</div>