<div class="row seat_field" data-ui-seat-id="<%= f.object.ui_seat_id %>" >
  <%= f.input :id, as: :hidden %>
  <div class="col-sm-2">
    <%= f.input :ui_seat_id, label: false, as: :hidden %>
    <%= f.input :ui_seat_id, disabled: true, label: false %>
  </div>
  <div class="col-sm-2">
    <%= f.input :disabled %>
  </div>
  <div class="col-sm-2">
    <%= f.input :orientation, collection: [0,1,2,3] %>
  </div>
  <div class="col-sm-2">
    <%= f.input :seat_type, collection: %w{seat sofa} %>
  </div>
  <div class="col-sm-4">
    <%= f.input :cost, label: false, placeholder: 'Cost' %>
  </div>
</div>