<h2>Purchased Seats on <%= Date.today.strftime('%d %b %Y') %> </h2>
<table class='table table-striped'>
	<thead>
		<tr class='info'>
			<th>S.No</th>
	   	<th>Transaction Id</th> 
	   	<th>First name</th>
	   	<th>Last name</th>
	   	<th>Email</th>
	   	<th>Phone</th>
  	</tr>
	</thead>
	<tbody>
		<% @payment_transactions.each_with_index do |payment_transaction, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= payment_transaction.id %></td>
				<td><%= payment_transaction.contact.first_name %></td>
				<td><%= payment_transaction.contact.last_name %></td>
				<td><%= payment_transaction.contact.email %></td>
				<td><%= payment_transaction.contact.phone %></td>
			</tr>
		<% end %>
	</tbody>
</table>
