<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>ID</th>
        <th>Organisation</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @enquiries.each do |enquiry| %>
          <tr>
            <td>Enquiry#<%= enquiry.id %></td>
            <td><%= enquiry.organisation.name.capitalize %></td>
            <td><%= enquiry.status.capitalize %></td>
            <td>
              <%= link_to admin_enquiry_path(enquiry) do %>
                  <i class="fa fa-eye"></i>
              <%- end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate @enquiries %>