<div class="admin-main-con">
  <div class='col-xs-12'>
    <h2>Enquiry</h2>
    <div class="admin_content_body">
      <div class="col-sm-12">
        <p class="text-right"><%= link_to('Back', admin_enquiries_path, class: 'btn btn-primary') %></p>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-12">
          <dl>
            <table class="table table-striped">
              <head>
                <tr class="info">
                  <th>Organisation: <%= @enquiry.organisation.name.capitalize %></th>
                  <th>Status: <%= @enquiry.status.capitalize %> </th>
                  <th>Aircraft: <%= @enquiry.activities.first.aircraft.aircraft_type.name.capitalize %></th>
                </tr>
              </head>
            </table>

            <% @user = @enquiry.user %>
            <div class="row">
              <div class="col-sm-12" style="margin-bottom: 20px;">
                <table class="table table-striped">
                  <head>
                    <tr class="default">
                      <th>Customer Details </th>
                    </tr>
                  </head>
                </table>
                <div class="col-sm-6">
                  <dt>Name</dt>
                </div>
                <div class="col-sm-6">
                  <div><%= @user.full_name.titleize %></div>
                </div>
                <div class="col-sm-6">
                  <dt>Email</dt>
                </div>
                <div class="col-sm-6">
                  <div><%= @user.email%></div>
                </div>
                <div class="col-sm-6">
                  <dt>Contact</dt>
                </div>
                <div class="col-sm-6">
                  <div><%= @user.phone %></div>
                </div>
              </div>
            </div>
            <div class="row">
              <% @enquiry.activities.each do |activity| %>
                  <div class="col-sm-6">
                    <table class="table table-striped">
                      <head>
                        <tr class="default">
                          <th>Activity#<%= activity.id %> </th>
                          <th>Date : <%= activity.start_at.strftime('%d-%b-%Y %H:%M') %> </th>
                        </tr>
                      </head>
                    </table>
                    <div class="col-sm-6">
                      <dt>Departure Airport</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.departure_airport.name %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>Arrival Airport</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.arrival_airport.name %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>Start at</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.start_at.strftime(time_format) %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>End at</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.end_at.strftime(time_format) %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>Empity Leg</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.empty_leg ? 'Yes' : 'No' %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>Pax</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.pax %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>Flight Cost</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.flight_cost %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>Handling cost at takeoff</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.handling_cost_at_takeoff %></dd>
                    </div>
                    <div class="col-sm-6">
                      <dt>Landing cost at arrival</dt>
                    </div>
                    <div class="col-sm-6">
                      <dd><%= activity.landing_cost_at_arrival %></dd>
                    </div>
                  </div>
              <% end %>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <dt>Total Flight Cost</dt>
              </div>
              <div class="col-sm-6">
                <%= "#{@totalFlightCost.round(0)}" %>
              </div>
              <div class="col-sm-6">
                <dt>Total Handling Cost</dt>
              </div>
              <div class="col-sm-6">
                <%= "#{@tatalHandlingCost.round(0)}" %>
              </div>
              <div class="col-sm-6">
                <dt>Taxes</dt>
              </div>
              <div class="col-sm-6">
                <%= "#{@taxes.round(0)}" %>
              </div>
              <div class="col-sm-6">
                <dt>Swachh Bharat Cess</dt>
              </div>
              <div class="col-sm-6">
                <%= "#{@SwachhBharatCess.round(0)}" %>
              </div>
              <div class="col-sm-6">
                <dt>Krishi Kalyan</dt>
              </div>
              <div class="col-sm-6">
                <%= "#{@KrishiKalyan.round(0)}" %>
              </div>
              <div class="col-sm-6">
                <dt>Total Amount</dt>
              </div>
              <div class="col-sm-6">
                <%= "#{@totalCost.round(0)}" %>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>