<div class="row">
  <div class="col-sm-12 text-center">
    <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/032/original/logonew_%282%29.png?1453527821" alt="">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Seat Confirmation</h1>
    <h4 class="text-center">Confirmation Number: <%= @transaction.id %></h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Itinerary Information</h3>
    <table class=" table table-striped">
      <thead>
      <tr class="info">
        <th>Departure Airport</th>
        <th>Departure At</th>
        <th>Arrival Airport</th>
        <th>Arrival At</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @jetsteal.departure_airport.name %></td>
        <td><%= @jetsteal.end_at.strftime('%d %b %Y, %I:%M %p') %></td>
        <td><%= @jetsteal.arrival_airport.name %></td>
        <td><%= (@jetsteal.end_at + @jetsteal.flight_duration_in_minutes.minutes).strftime('%d %b %Y, %I:%M %p') %></td>
      </tr>
      <tr class="info">
        <th colspan="2">Aircraft</th>
        <th colspan="2">Number of seats booked</th>
      </tr>
      <tr>
        <td colspan="2"><%= @jetsteal.aircraft.aircraft_type.name %> (<%= @jetsteal.aircraft.tail_number %>)</td>
        <td colspan="2"><%= @jetsteal_seats.count %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Customer Information</h3>
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @contact.first_name %></td>
        <td><%= @contact.last_name %></td>
        <td><%= @contact.email %></td>
        <td><%= @contact.phone %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Transaction Details</h3>
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Transaction ID</th>
        <th>Status</th>
        <th>Total amount paid</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @transaction.id %></td>
        <td><%= @transaction.status %></td>
        <td>INR <%= @transaction.amount.round(2) %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p style="text-align: right"><strong>JetSetGo Aviation Services Private Limited</strong></p>
    <p style="text-align: right">+91-11-39585858</p>
    <p style="text-align: right">info@jetsetgo.in</p>
  </div>
</div>