<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Jetsteal Seat Confirmation</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Itinerary Information</h3>
    <table class=" table table-striped">
      <thead>
      <tr class="info">
        <th>Departure Airport</th>
        <th>Departure At</th>
        <th>Arrival Airport</th>
        <th>Arrival At</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @jetsteal.departure_airport.name %></td>
        <td><%= @jetsteal.end_at.strftime('%d %b %Y, %I:%M %p') %></td>
        <td><%= @jetsteal.arrival_airport.name %></td>
        <td><%= (@jetsteal.end_at + @jetsteal.flight_duration_in_minutes.minutes).strftime('%d %b %Y, %I:%M %p') %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Customer Info</h3>
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @contact.first_name %></td>
        <td><%= @contact.last_name %></td>
        <td><%= @contact.email %></td>
        <td><%= @contact.phone %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Purchased Seat Info</h3>
    <table class="table table striped">
      <thead>
      <tr class="info">
        <th>Seat Id</th>
        <th>Cost</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% @jetsteal_seats.each do |jetsteal_seat| %>
          <tr>
            <td><%= jetsteal_seat.id %></td>
            <td><%= jetsteal_seat.cost || '--' %></td>
            <td><%= jetsteal_seat.booked? ? 'Confirmed' : 'Unconfirmed' %></td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Transaction Details</h3>
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Transaction ID</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @transaction.id %></td>
        <td><%= @transaction.status %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>