<%= simple_form_for [:admin, @aircraft] do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.error_notification %>
        <%= f.input :memorable_name, placeholder: 'Like: Flying Queen etc.' %>
        <%= f.input :tail_number %>
        <%= f.input :mtow %>
        <%= f.input :year_of_manufacture %>
        <%= f.input :aircraft_type_id, collection: aircraft_types_for_collection, prompt: 'Select Aircraft type' %>
        <%= f.input :base_airport_id, collection: airports_for_collection, prompt: 'Select Aircraft type' %>
        <%= f.input :organisation_id, collection: organisations_for_collection, prompt: 'Select Organisation' %>
        <% [:wifi, :phone, :flight_attendant, :medical_evac].each do |attr| %>
            <div class="col-sm-4">
              <%= f.input(attr, :value => true) %>
            </div>
        <%- end %>
        <%= f.submit 'Save', class: 'btn btn-success pull-right' %>
      </div>
      <div class="col-sm-6">
        <% [:seating_capacity,
            :baggage_capacity_in_kg,
            :landing_field_length_in_feet,
            :runway_field_length_in_feet,
            :number_of_toilets,
            :cabin_width_in_meters,
            :cabin_height_in_meters,
            :cabin_length_in_meters,
            :crew,
            :cruise_speed_in_nm_per_hour,
            :flying_range_in_nm,
            :per_hour_cost].each do |attr| %>
            <%= f.input(attr) %>
        <%- end %>
      </div>
    </div>
<%- end %>
