<div class="large reveal" id="book_jet" data-close-on-click="false" data-reveal>
  <div class="row" style="    border-bottom: 1px solid lightgray;margin-bottom: 10px;">
    <div class="small-12 columns">
      <h4 class="text-center">Book Your Jet @ <i class="fa fa-rupee"></i> {{ctrl.bookJetJetsteal.cost | currency:"" | indianCurrency }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns main-table-info">
      <table style="width: 100%">
        <thead>
          <tr>
            <th colspan="2" class="text-center">Trip Details</th>
          </tr>
        </thead>
        <tbody> 
        <tr>
          <td>
            <img class="city_image_" ng-src="{{ctrl.bookJetJetsteal.departure_airport.city.image}}" src="" alt="">
            <p class="text-center"><small>{{ctrl.bookJetJetsteal.departure_airport.city.name}}</small></p>
          </td>
          <td>
            <img class="city_image_" ng-src="{{ctrl.bookJetJetsteal.arrival_airport.city.image}}" src="" alt="">
            <p class="text-center"><small>{{ctrl.bookJetJetsteal.arrival_airport.city.name}}</small></p>
          </td>
        </tr>
        <tr>
          <th>Aircraft Name</th>
          <td>{{ctrl.bookJetJetsteal.aircraft.aircraft_type.name}}</td>
        </tr>
        <tr>
          <th>Departure Airport</th>
          <td>{{ctrl.bookJetJetsteal.departure_airport.name}}</td>
        </tr>
        <tr>
          <th>Arrival Airport</th>
          <td>{{ctrl.bookJetJetsteal.arrival_airport.name}}</td>
        </tr>
        <tr>
          <th>Departure Date</th>
          <td>{{ctrl.bookJetJetsteal.flight_start_time.split(',')[0]}}</td>
        </tr>
        <tr>
          <th>Departure Time</th>
          <td>{{ctrl.bookJetJetsteal.flight_start_time.split(',')[1]}}</td>
        </tr>
        <tr>
          <th>Arrival Time</th>
          <td>{{ctrl.bookJetJetsteal.flight_end_time.split(',')[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="small-12 medium-8 columns">
      <%= form_tag '/payment_transactions/create', id: 'checkout_jet' do %>
          <input type="hidden" value="sell_as_whole" name="sell_as_whole">
          <input type="hidden" value="{{ctrl.bookJetJetsteal.id}}" name="jetsteal_id">
          <input type="hidden" name="jetsteal_seat_ids[]" ng-repeat="seat in ctrl.bookableSeats()" value="{{seat.id}}">
          <fieldset>
            <legend style="font-weight:bold;">Contact Details</legend>
            <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'First Name', 'required' => 'required' %>
            <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Last Name', 'required' => 'required' %>
            <%= number_field_tag :phone, nil, class: 'form-control', placeholder: 'Phone Number', 'required' => 'required', 'minlength' => '10', 'maxlength' => '10' %>
            <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email', 'required' => 'required' %>
          </fieldset>
          <fieldset class="text-right">
            <legend class='column'><strong>Payment Details</strong></legend>
            <ul class="inline-list">
              <li><strong>Number of seats:</strong> {{ctrl.bookableSeats().length}}</li>
              <li style="margin-right:0;"><strong>Amount to be paid:</strong> <i class="fa fa-rupee"></i> {{ctrl.bookJetJetsteal.cost | currency:"" | indianCurrency }}</li>
            </ul>
          </fieldset>
          <fieldset>
            <button type="submit" class="button button-large button_jsg float-right" ><i class="fa fa-credit-card"></i> Proceed to pay</button>
          </fieldset>
      <%- end %>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>