<div id="sticky-anchor"></div>
<div class="row hide-for-small-only hide-for-medium-only" id="filter_bar">
  <div class="columns small-11">
    <div class="row">
      <div class="small-3 columns text-center">
        <i class="fa fa-calendar"></i>
        <input ng-change="ctrl.checkFilters()" type="text" ng-model="ctrl.date" class="hide-for-small-only hide-for-medium-only dp datepicker-text" placeholder="Date" title="Date of travel">
        <i ng-click="ctrl.date=null;ctrl.checkFilters()" ng-show="ctrl.date" style="cursor: pointer;position: absolute;font-size: 20px!important;margin-top: 24px;margin-left: -16px;" class="fa fa-times"></i>
      </div>
      <div class="small-3 columns text-center">
        <%= image_tag 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/024/original/takeoff-icon.png?1453120117' %>
        <select id="departure_airport_filter" ng-change="ctrl.checkFilters()" ng-model="ctrl.departure_airport_id" class="hide-for-small-only hide-for-medium-only airports" title="Departure airport">
          <option value="">Departure Airport</option>
          <% Airport.includes(:city).order('name ASC').all.each do |airport| %>
              <option value="<%= airport.id %>"><%= airport.name %>, <%= airport.city.name %></option>
          <%- end %>
        </select>
        <i ng-click="ctrl.checkFilters()" onclick="$('#departure_airport_filter').val('').change()" ng-show="ctrl.departure_airport_id" style="cursor: pointer;position: absolute;font-size: 20px!important;margin-top: 24px;margin-left: -16px;" class="fa fa-times"></i>
      </div>
      <div class="small-3 columns text-center">
        <%= image_tag 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/025/original/landing-icon.png?1453120137' %>
        <select id="arrival_airport_filter" ng-change="ctrl.checkFilters()" ng-model="ctrl.arrival_airport_id" class="hide-for-small-only hide-for-medium-only airports" title="Arrival airport">
          <option value="">Arrival Airport</option>
          <% Airport.includes(:city).order('name ASC').all.each do |airport| %>
              <option value="<%= airport.id %>"><%= airport.name %>, <%= airport.city.name %></option>
          <%- end %>
        </select>
        <i ng-click="ctrl.checkFilters()" onclick="$('#arrival_airport_filter').val('').change()" ng-show="ctrl.arrival_airport_id" style="cursor: pointer;position: absolute;font-size: 20px!important;margin-top: 24px;margin-left: -16px;" class="fa fa-times"></i>
      </div>
      <div class="small-3 columns text-center">
        <i class="fa fa-user"></i>
        <select ng-change="ctrl.checkFilters()" title="Pax" ng-model="ctrl.pax" class="hide-for-small-only hide-for-medium-only">
          <option value="">Pax</option>
          <% (1..50).each do |pax| %>
              <option value="<%= pax %>"><%= pax %></option>
          <%- end %>
        </select>
        <i ng-click="ctrl.pax=null;ctrl.checkFilters()" ng-show="ctrl.pax" style="cursor: pointer;position: absolute;font-size: 20px!important;margin-top: 24px;margin-left: -16px;" class="fa fa-times"></i>
      </div>
    </div>
  </div>
  <div class="small-1 columns">
    <a data-toggle="info_modal"><i id="info_button" class="fa fa-info-circle pull-right"></i></a>
  </div>
</div>
<div id="sticky-placeholder"></div>