<% @jetsteals.each do |jetsteal| %>
    <div class="row margin-top">
      <div class="col-sm-3">
        <div class="aircraft_image pointer" style="display: inline-block; cursor: zoom-in">
          <% jetsteal.aircraft.aircraft_images.each_with_index do |aircraft_image, index| %>
              <% if index == 0 %>
                  <%= image_tag aircraft_image.image.url(:medium), class: 'full-width padded bordered', 'data-mfp-src' => aircraft_image.image.url(:original) %>
              <%- else %>
                  <%= image_tag aircraft_image.image.url(:medium), class: 'full-width padded bordered', 'data-mfp-src' => aircraft_image.image.url(:original), style: 'display: none' %>
              <%- end %>
          <%- end %>
        </div>
      </div>
      <div class="col-sm-9">
        <ul class="list-inline">
          <% unless params[:departure_airport_id].present? %>
              <li>
                <%= image_tag jetsteal.departure_airport.city.image.url(:original), class: 'city_image' %>
                <h5 class="text-center highlight-dark-color"><%= jetsteal.departure_airport.city.name %></h5>
              </li>
          <%- end %>
          <% unless params[:departure_airport_id].present? or params[:arrival_airport_id].present? %>
              <li><h6>to</h6></li>
          <%- end %>
          <% unless params[:arrival_airport_id].present? %>
              <li>
                <img src="<%= jetsteal.arrival_airport.city.image %>" class="city_image">
                <h5 class="text-center highlight-dark-color"><%= jetsteal.arrival_airport.city.name %></h5>
              </li>
          <%- end %>
          <li>
            <h3 class="highlight-dark-color">
              <%= jetsteal.aircraft.memorable_name %>
            </h3>
            <ul class="list-inline">
              <%= ("<li><i class='fa fa-plane'></i> #{jetsteal.aircraft.aircraft_type.name}(#{jetsteal.aircraft.tail_number})").html_safe unless params[:aircraft_type_id].present?%>
            </ul>
            <ul class="list-inline">
              <%= jetsteal_inline_icons(jetsteal) %>
            </ul>
            <ul class="list-inline">
              <li data-toggle="tooltip" title="Takes Off At"><i class="fa fa-clock-o"></i> <%= jetsteal.end_at.strftime('%d %b %Y, %I:%M %p') %></li>
            </ul>
          </li>
          <li class="">
            <div><a class="btn btn-blue" href="/jetsteals/<%= jetsteal.id %>">View Details</a></div>
            <% if jetsteal.can_be_sold_as_whole? %>
                <div class="margin-top">
                  <%= link_to 'Book Plane', buy_as_whole_jetsteals_jetsteal_path(jetsteal, buy_as_whole: "buy_as_whole_#{jetsteal.id}"), class: 'btn btn-blue btn-padded',id: "buy_as_whole_#{jetsteal.id}", remote: true %>
                </div>
            <%- else %>
                <div class="margin-top">
                  <a class="btn btn-blue btn-padded" href="/jetsteals/<%= jetsteal.id %>">Book seats</a>
                </div>
            <%- end %>
          </li>
        </ul>
      </div>
    </div>
<%- end %>