<div class="row">
  <div class="small-12 columns">
    <div class="small-12 medium-6 columns count_this" ng-hide="(ctrl.date && jetsteal.date != ctrl.date) || (ctrl.departure_airport_id && jetsteal.departure_airport.id != ctrl.departure_airport_id) || (ctrl.arrival_airport_id && jetsteal.arrival_airport.id != ctrl.arrival_airport_id) || (ctrl.pax && jetsteal.aircraft.seating_capacity < ctrl.pax)" ng-repeat="jetsteal in ctrl.jetsteals | orderBy:['sold_out']">
      <div ng-mouseover="show_zoom=true" ng-mouseleave="show_zoom=false" ng-init="show_zoom=false" class="list_box outer_sold" ng-style="{'background-color': jetsteal.color}">
        <div ng-show="jetsteal.sold_out" class="sold_out">
          <h2 class="text-center">Sold Out</h2>
        </div>
        <div class="row">
          <div class="large-6 hide-for-small-only hide-for-medium-only columns">
            <a style="display: inline-block;position: relative;" ng-hide="$index > 0" ng-repeat="image in jetsteal.aircraft.aircraft_images" href="{{image}}" data-lightbox="{{jetsteal.id}}">
              <div class="text-center" style="display: inline-block; position: absolute; height: 100%; width: 100%">
                <i ng-show="show_zoom && !jetsteal.sold_out" class="fa image_zoom fa-search-plus"></i>
              </div>
              <img ng-src="{{image}}" class="aircraft_image" src="" alt="">
            </a>
          </div>
          <div class="medium-12 large-6 small-12 columns content_box">
            <h6 class="text-center">{{jetsteal.aircraft.aircraft_type.name}}</h6>
            <div class="">
              <div class="small-5 text-center columns">
                <img ng-src="{{jetsteal.departure_airport.city.image}}" src="" alt="">
                <h6 class="text-center"><small>{{jetsteal.departure_airport.city.name}}</small></h6>
                <h6 class="text-center"><small>{{jetsteal.flight_start_time}}</small></h6>
              </div>
              <div class="small-2 text-center columns middle_box">
                <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/026/original/icon.png?1453190178" alt="">
              </div>
              <div class="small-5 text-center columns">
                <img ng-src="{{jetsteal.arrival_airport.city.image}}" src="" alt="">
                <h6 class="text-center"><small>{{jetsteal.arrival_airport.city.name}}</small></h6>
                <h6 class="text-center"><small>{{jetsteal.flight_end_time}}</small></h6>
              </div>
            </div>
            <div class="" style="margin-top: 10px">
              <div class="columns small-12 text-center">
                <a ng-click="ctrl.bookSeatClicked(jetsteal)" ng-show="jetsteal.sell_by_seats && !jetsteal.sold_out" class="button button_jsg">Book a Seat, starting @ <i class="fa fa-rupee"></i> {{jetsteal.min_seat_cost | currency:'' | indianCurrency }}</a>
                <a ng-click="ctrl.bookJetClicked(jetsteal)" data-toggle="book_jet" ng-show="jetsteal.can_be_sold_as_whole" class="button button_jsg">Book a Jet, starting @ <i class="fa fa-rupee"></i> {{jetsteal.cost | currency:'' | indianCurrency}}</a>
                <a style="margin-top: 8px" href="Javascript:void(0)" class="button button_jsg_danger" ng-show="jetsteal.sold_out"><i class="fa fa-hourglass-o"></i> Sold Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="no_jetsteal" style="height: 600px;padding-top: 50px; display: none" class="small-12 columns">
      <h4 class="text-center">We are sorry we have no flights on this sector at the moment. Would you like to be notified if there are any in future?</h4>
      <fieldset class="text-center">
        <div class="row">
          <div class="small-12 medium-4 small-centered">
            <%= simple_form_for JetstealSubscription.new do |f| %>
                <table>
                  <tr>
                    <th>Name</th>
                    <td><%= f.input :name, label: false %></td>
                  </tr>
                  <tr>
                    <th>Contact Number</th>
                    <td><%= f.input :phone, label: false %></td>
                  </tr>
                  <tr>
                    <th>E-mail</th>
                    <td><%= f.input :email, label: false %></td>
                  </tr>
                  <tr>
                    <td colspan="2"><%= f.submit 'Subscribe for Jetsteals alerts', class: 'button' %></td>
                  </tr>
                </table>
                <%= hidden_field_tag :redirect_to, '/jetsteals/list' %>
            <%- end %>
          </div>
        </div>
      </fieldset>
      <p class="text-center"><a href="" ng-click="ctrl.date=null;ctrl.departure_airport_id=null;ctrl.arrival_airport_id=null;ctrl.pax=null;ctrl.checkFilters()" class="button alert">Remove filters</a></p>
    </div>
  </div>
</div>