<div ng-controller="ListController as ctrl">
	<div class="section-heading">
    	<div class="container">
      		<img class="img-responsive" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/001/118/original/jetsteals.png?1482819516" alt="">
    	</div>
  	</div>
  <%= render partial: 'filter_bar' %>

  <%= render partial: 'listing_2' %>

  <%= render partial: 'book_jet_modal' %>

  <%= render partial: 'details_modal' %>

  <%= render partial: 'book_seat_modal' %>

  <%= render partial: 'seat_checkout_modal' %>
</div>

<%= render partial: 'info_modal' %>