<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'jetsteals/lists/filter_form' %>
  </div>
  <% if @jetsteals.present? and @jetsteals.any? %>
      <div class="col-sm-9">
        <ul class="list-inline">
          <% if params[:departure_airport_id].present? %>
            <li class="text-center">
              <h4 class="highlight-color">Flying from</h4>
              <%= image_tag @jetsteals.first.departure_airport.city.image.url(:original), class: 'city_image' %>
              <h5 class="highlight-dark-color"><%= @jetsteals.first.departure_airport.city.name %></h5>
            </li>
          <%- end %>
          <% if params[:arrival_airport_id].present? %>
              <li class="text-center">
                <h4 class="highlight-color">Flying to</h4>
                <%= image_tag @jetsteals.first.arrival_airport.city.image.url(:original), class: 'city_image' %>
                <h5 class="highlight-dark-color"><%= @jetsteals.first.arrival_airport.city.name %></h5>
              </li>
          <%- end %>
          <% if params[:aircraft_type_id].present? %>
              <li class='text-center svg-filter-box' data-toggle='tooltip' title='Aircraft Type'>
                <h4 class="highlight-color">Flying in</h4>
                <span class="city_image"><%= @jetsteals.first.aircraft.aircraft_type.svg.try(:html_safe)%></span>
                <h5 class="highlight-dark-color"><%= @jetsteals.first.aircraft.aircraft_type.name %></h5>
              </li>
          <% end %>
          <% if params[:wifi].present? %>
              <li class='text-center' data-toggle='tooltip' title='Wifi'>
                <h4 class="highlight-color"></h4>
                <i class='fa fa-wifi fa-4x'></i>
                <h5 class="highlight-dark-color">Wifi on-board</h5>
              </li>
          <% end %>
          <% if params[:phone].present? %>
              <li class='text-center' data-toggle='tooltip' title='Phone'>
                <h4 class="highlight-color"></h4>
                <i class='fa fa-phone fa-4x'></i>
                <h5 class="highlight-dark-color">Phone on-board</h5>
              </li>
          <% end %>
          <% if params[:flight_attendant].present? %>
              <li class='text-center' data-toggle='tooltip' title='Phone'>
                <h4 class="highlight-color"></h4>
                <i class='fa fa-female fa-4x'></i>
                <h5 class="highlight-dark-color">Attendant on-board</h5>
              </li>
          <% end %>
        </ul>
        <%= render partial: 'jetsteals/lists/listing' %>
      </div>
  <%- else %>
    <div class="col-sm-9">
      <h1 class="highlight-color text-center font-large"><i class="fa fa-meh-o"></i></h1>
      <h3 class="highlight-color text-center">Sorry, we don't have any scheduled trip for this query</h3>
      <h4 class="highlight-dark-color text-center"><i class="fa fa-info-circle"></i> You can always contact our operations and customer support for any custom requirements</h4>
      <p class="text-center"><%= link_to 'Clear Filters', '/jetsteals/list', class: 'btn btn-blue' %></p>
    </div>
  <%- end %>
</div>