<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'jetsteals/lists/filter_form' %>
  </div>
  <% if @jetsteals.present? and @jetsteals.any? %>
      <div class="col-sm-9">
        <ul class="list-inline">
          <% if params[:departure_airport_id].present? %>
            <li class="text-center">
              <h4 class="highlight-color">Flying from</h4>
              <%= image_tag @jetsteals.first.departure_airport.city.image.url(:original), class: 'city_image' %>
              <h5 class="highlight-dark-color"><%= @jetsteals.first.departure_airport.city.name %></h5>
            </li>
          <%- end %>
          <% if params[:arrival_airport_id].present? %>
              <li class="text-center">
                <h4 class="highlight-color">Flying to</h4>
                <%= image_tag @jetsteals.first.arrival_airport.city.image.url(:original), class: 'city_image' %>
                <h5 class="highlight-dark-color"><%= @jetsteals.first.arrival_airport.city.name %></h5>
              </li>
          <%- end %>
        </ul>
        <%= render partial: 'jetsteals/lists/listing' %>
      </div>
  <%- end %>
</div>