<div ng-controller="ListController as ctrl">
  <div class="row hide-for-small-only" id="filter_bar">
    <div class="columns small-11">
      <div class="row">
        <div class="small-3 columns text-center">
          <i class="fa fa-calendar"></i>
          <input type="text" ng-model="ctrl.date" class="hide-for-small-only hide-for-medium-only dp" placeholder="Date" title="Date of travel">
        </div>
        <div class="small-3 columns text-center">
          <%= image_tag 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/024/original/takeoff-icon.png?1453120117' %>
          <select ng-model="ctrl.departure_airport_id" class="hide-for-small-only hide-for-medium-only airports" title="Departure airport">
            <option value="">Departure Airport</option>
            <% Airport.all.each do |airport| %>
                <option value="<%= airport.id %>"><%= airport.name %></option>
            <%- end %>
          </select>
        </div>
        <div class="small-3 columns text-center">
          <%= image_tag 'http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/025/original/landing-icon.png?1453120137' %>
          <select ng-model="ctrl.arrival_airport_id" class="hide-for-small-only hide-for-medium-only airports" title="Arrival airport">
            <option value="">Departure Airport</option>
            <% Airport.all.each do |airport| %>
                <option value="<%= airport.id %>"><%= airport.name %></option>
            <%- end %>
          </select>
        </div>
        <div class="small-3 columns text-center">
          <i class="fa fa-user"></i>
          <select title="PAX" ng-model="ctrl.pax" class="hide-for-small-only hide-for-medium-only">
            <option value="">PAX</option>
            <% (0..10).each do |pax| %>
                <option value="<%= pax %>"><%= pax %></option>
            <%- end %>
          </select>
        </div>
      </div>
    </div>
    <div class="small-1 columns">
      <a data-toggle="info_modal"><i id="info_button" class="fa fa-info-circle pull-right"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="small-12 medium-6 columns" ng-hide="(ctrl.date && jetsteal.date != ctrl.date) || (ctrl.departure_airport_id && jetsteal.departure_airport.id != ctrl.departure_airport_id) || (ctrl.arrival_airport_id && jetsteal.arrival_airport.id != ctrl.arrival_airport_id) || (ctrl.pax && jetsteal.aircraft.seating_capacity < ctrl.pax)" ng-repeat="jetsteal in ctrl.jetsteals | orderBy:['sold_out', 'sell_by_seats']">
        <div class="list_box outer_sold" ng-style="{'background-color': jetsteal.color}">
          <div ng-show="jetsteal.sold_out" class="sold_out">
            <h2 class="text-center">Sold Out</h2>
          </div>
          <div class="row">
            <div class="medium-6 hide-for-small-only columns">
              <img ng-src="{{jetsteal.aircraft.aircraft_images[0]}}" class="aircraft_image" src="" alt="">
            </div>
            <div class="medium-6 small-12 columns content_box">
              <h6 class="text-center">{{jetsteal.aircraft.aircraft_type.name}}</h6>
              <div class="row">
                <div class="small-5 text-center columns">
                  <img ng-src="{{jetsteal.departure_airport.city.image}}" src="" alt="">
                  <h6 class="text-center"><small>{{jetsteal.departure_airport.city.name}}</small></h6>
                  <h6 class="text-center"><small>{{jetsteal.flight_start_time}}</small></h6>
                </div>
                <div class="small-2 text-center columns middle_box">
                  <img src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/026/original/icon.png?1453190178" alt="">
                </div>
                <div class="small-5 text-center columns">
                  <img ng-src="{{jetsteal.arrival_airport.city.image}}" src="" alt="">
                  <h6 class="text-center"><small>{{jetsteal.arrival_airport.city.name}}</small></h6>
                  <h6 class="text-center"><small>{{jetsteal.flight_end_time}}</small></h6>
                </div>
              </div>
              <!--<div class="row">-->
                <!--<div class="small-12 columns text-center">-->
                  <!--<h5 ng-show="jetsteal.sell_by_seats"><small>Seat @</small> <i class="fa fa-rupee"></i> {{jetsteal.min_seat_cost}} <small>onwards</small></h5>-->
                  <!--<h5 ng-hide="jetsteal.sell_by_seats"><i class="fa fa-rupee"></i> {{jetsteal.cost}}</h5>-->
                <!--</div>-->
              <!--</div>-->
              <div class="row" style="margin-top: 10px">
                <div class="columns small-12 text-center">
                  <a ng-click="ctrl.bookSeatClicked(jetsteal)" ng-show="jetsteal.sell_by_seats && !jetsteal.sold_out" class="button button_jsg">Book seat @ <i class="fa fa-rupee"></i>{{jetsteal.min_seat_cost}}</a>
                  <a ng-click="ctrl.bookJetClicked(jetsteal)" data-toggle="book_jet" ng-show="jetsteal.can_be_sold_as_whole" class="button button_jsg">Book Jet @ <i class="fa fa-rupee"></i>{{jetsteal.cost}}</a>
                  <a href="Javascript:void(0)" class="button button_jsg_danger" ng-show="jetsteal.sold_out"><i class="fa fa-hourglass-o"></i> Sold Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div ng-show="ctrl.filtersDontMatch()" style="height: 600px;padding-top: 50px" class="small-12 columns">-->
        <!--<h4 class="text-center">Oops! we don't have any Jetsteal for current filter</h4>-->
        <!--<h1 class="text-center font-large"><i style="font-size: 150px;" class="fa fa-meh-o"></i></h1>-->
        <!--<p class="text-center"><a href="/jetsteals/list" class="button button_jsg">Remove filters</a></p>-->
      <!--</div>-->
    </div>
  </div>

  <div class="large reveal" id="book_jet" data-close-on-click="false" data-reveal>
    <div class="row">
      <div class="small-12 columns">
        <h4 class="text-center">Book jet @ <i class="fa fa-rupee"></i> {{ctrl.bookJetJetsteal.cost}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <dl>
          <dt>Aircraft Type</dt>
          <dd>{{ctrl.bookJetJetsteal.aircraft.aircraft_type.name}}</dd>
          <dt>Departure Airport</dt>
          <dd>{{ctrl.bookJetJetsteal.departure_airport.name}}</dd>
          <dt>Departure City</dt>
          <dd>{{ctrl.bookJetJetsteal.departure_airport.city.name}}</dd>
          <dt>Departure at</dt>
          <dd>{{ctrl.bookJetJetsteal.flight_start_time}}</dd>
          <dt>Arrival at</dt>
          <dd>{{ctrl.bookJetJetsteal.flight_end_time}}</dd>
        </dl>
      </div>
      <div class="small-8 columns">
        <%= form_tag '/payment_transactions/create' do %>
            <input type="hidden" value="sell_as_whole" name="sell_as_whole">
            <input type="hidden" value="{{ctrl.bookJetJetsteal.id}}" name="jetsteal_id">
            <input type="hidden" name="jetsteal_seat_ids[]" ng-repeat="seat in ctrl.bookJetJetsteal.jetsteal_seats" value="{{seat.id}}">
            <fieldset>
              <legend>Contact Details</legend>
              <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'First Name', 'required' => 'required' %>
              <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Last Name', 'required' => 'required' %>
              <%= number_field_tag :phone, nil, class: 'form-control', placeholder: 'Phone Number', 'required' => 'required', 'minlength' => '10', 'maxlength' => '10' %>
              <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email', 'required' => 'required' %>
            </fieldset>
            <fieldset>
              <legend>Payment Details</legend>
              <ul class="inline-list">
                <li><strong>Number of seats:</strong> {{ctrl.bookJetJetsteal.jetsteal_seats.length}}</li>
                <li><strong>Amount to pay:</strong> <i class="fa fa-rupee"></i> {{ctrl.bookJetJetsteal.cost}}</li>
              </ul>
            </fieldset>
            <fieldset>
              <button type="submit" class="button button-large button_jsg float-right" ><i class="fa fa-credit-card"></i> Proceed to pay</button>
            </fieldset>
        <%- end %>
      </div>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="reveal" id="details_modal" data-reveal>
    <h3 class="text-center">{{ctrl.detailsJetsteal.aircraft.aircraft_type.name}}</h3>
    <p class="lead">Your couch. It is mine.</p>
    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="full reveal" id="book_seat_modal" data-close-on-click="false" data-reveal>

    <div class="row" style="margin-bottom: 10px" ng-style="{'background-color': ctrl.bookSeatJetsteal.color}">
      <div class="small-12 columns">
        <h3 style="padding: 10px; color: white" class="text-center">Choose your seats</h3>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <table>
          <thead>
          <tr>
            <th colspan="2" class="text-center">Trip Info</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <img ng-src="{{ctrl.bookSeatJetsteal.departure_airport.city.image}}" src="" alt="">
            </td>
            <td>
              <img ng-src="{{ctrl.bookSeatJetsteal.arrival_airport.city.image}}" src="" alt="">
            </td>
          </tr>
          <tr>
            <td colspan="2"><strong>From:</strong> {{ctrl.bookSeatJetsteal.departure_airport.name}}, {{ctrl.bookSeatJetsteal.departure_airport.city.name}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>To:</strong> {{ctrl.bookSeatJetsteal.arrival_airport.name}}, {{ctrl.bookSeatJetsteal.arrival_airport.city.name}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Departure At:</strong> {{ctrl.bookSeatJetsteal.flight_start_time}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Arrival At:</strong> {{ctrl.bookSeatJetsteal.flight_end_time}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Aircraft:</strong> {{ctrl.bookSeatJetsteal.aircraft.aircraft_type.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="small-6 columns">
        <ul class="inline-list text-center">
          <li><span class="" style="background-color: rgb(242, 208, 59)" >&nbsp;&nbsp;&nbsp;</span> <small><strong>Available seat</strong></small></li>
          <li><span class="" style="background-color: rgb(241, 92, 92)">&nbsp;&nbsp;&nbsp;</span> <small><strong>Seat not for sale</strong></small></li>
          <li><span class="" style="background-color: rgb(43, 201, 167)">&nbsp;&nbsp;&nbsp;</span> <small><strong>Chosen seat</strong></small></li>
          <li><span class="" style="background-color: rgb(51, 122, 183)">&nbsp;&nbsp;&nbsp;</span> <small><strong>Already booked</strong></small></li>
        </ul>
        <div ng-click="ctrl.resetChosenSeats()" id="svg_holder"></div>
      </div>
      <div class="small-3 columns">
        <div ng-hide="ctrl.chosen_seats.length > 0">
          <h4 class="highlight-color text-center">How to choose seats?</h4>
          <ol>
            <li class="margin-top">Click on <span style="background-color: rgb(242, 208, 59)" class="">&nbsp;&nbsp;&nbsp;</span> colored seat to add it to cart</li>
            <li class="margin-top"><span style="background-color: rgb(241, 92, 92)" class="">&nbsp;&nbsp;&nbsp;</span> colored seats are not available for sale. Some operators customize their plane and remove some seats.</li>
            <li class="margin-top">When you add a seat to cart its colored <span style="background-color: rgb(43, 201, 167)" class="">&nbsp;&nbsp;&nbsp;</span>, click on it again to remove it from cart.</li>
            <li class="margin-top"><span style="background-color: rgb(51, 122, 183)" class="">&nbsp;&nbsp;&nbsp;</span> colored seats are already booked by others. Once you book a seat you can contact operations and customer support to know who shares your plane.</li>
          </ol>
        </div>

        <div ng-show="ctrl.chosen_seats.length > 0">
          <table style="width: 100%">
            <thead>
            <tr>
              <th colspan="2" class="text-center">Chosen seats</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="seat_id in ctrl.chosen_seats">
              <td class="text-center">{{seat_id}}</td>
              <td class="text-center"><i class="fa fa-rupee"></i> {{ctrl.priceFor(seat_id)}}</td>
            </tr>
            <tr>
              <th colspan="2" class="text-center">Grand Total</th>
            </tr>
            <tr>
              <td class="text-center">{{ctrl.chosen_seats.length}} Seats</td>
              <td class="text-center"><strong><i class="fa fa-rupee"></i> {{ctrl.grandTotal()}}</strong></td>
            </tr>
            </tbody>
          </table>
          <a data-toggle="seat_checkout" class="button button_jsg large float-right"><i class="fa fa-credit-card"></i> Proceed</a>
        </div>

      </div>
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span style="font-size: 50px; color: white" aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="reveal" id="seat_checkout" data-reveal>
    <h3 class="text-center">Checkout</h3>
    <%= form_tag '/payment_transactions/create' do %>
        <input type="hidden" value="{{ctrl.bookSeatJetsteal.id}}" name="jetsteal_id">
        <input type="hidden" name="jetsteal_seat_ids[]" value="{{chosen_seat_id}}" ng-repeat="chosen_seat_id in ctrl.chosen_seats_ids()">
        <fieldset>
          <legend>Contact Info</legend>
          <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'First Name', 'required' => 'required' %>
          <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Last Name', 'required' => 'required' %>
          <%= text_field_tag :phone, nil, class: 'form-control', placeholder: 'Phone Number', 'required' => 'required', 'minlength' => '10', 'maxlength' => '10' %>
          <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email', 'required' => 'required' %>
        </fieldset>
        <fieldset>
          <legend>Payment Details</legend>
          <ul class="list-inline">
            <li><strong>Number of seats:</strong> {{ctrl.chosen_seats.length}}</li>
            <li><strong>Total amount:</strong> <i class="fa fa-rupee"></i> {{ctrl.grandTotal()}}</li>
          </ul>
        </fieldset>
        <p><small>You will be redirect to CC Avenue payment gateway.</small></p>
        <p><button class="button button_jsg float-right" type="submit"><i class="fa fa-credit-card"></i> Checkout</button></p>
    <%- end %>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div style="background-color: rgb(47, 191, 149)" class="reveal" id="info_modal" data-reveal>
  <h2 class="text-center" style="color: white">Jetsteals™</h2>
  <h5 class="text-center" style="color: white">The future is now ready for boarding.</h5>
  <p class="text-center" style="color: white">Through our JetSteals platform you can now experience the joy of flying private and networking like never before- at 30,000 feet! Simply pick an aircraft or sector of your choice, chose between having the whole aircraft to yourself or just a seat and pay in 3 simple steps. The new ordinary in flying!</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span style="color: white" aria-hidden="true">&times;</span>
  </button>
</div>

