<div class="row" ng-controller="JetstealController as ctrl">
  <div class="col-sm-3">
    <ul class="list-unstyled">
      <li class="">
        <h4 class="highlight-color"><%= @jetsteal.aircraft.memorable_name %></h4>
      </li>
      <li class="">
        <div class="aircraft_image pointer" style="cursor: zoom-in; display: inline-block">
          <% @jetsteal.aircraft.aircraft_images.each_with_index do |aircraft_image, index| %>
              <% if index == 0 %>
                  <%= image_tag aircraft_image.image.url(:medium), class: 'full-width padded bordered', 'data-mfp-src' => aircraft_image.image.url(:original) %>
              <%- else %>
                  <%= image_tag aircraft_image.image.url(:medium), class: 'full-width padded bordered', 'data-mfp-src' => aircraft_image.image.url(:original), style: 'display: none' %>
              <%- end %>
          <%- end %>
        </div>
      </li>
      <li>
        <div class="row margin-top">
          <div class="col-sm-6">
            <%= image_tag @jetsteal.departure_airport.city.image.url(:original), class: 'img-responsive' %>
            <h5 class="text-center"><small>From: </small> <%= @jetsteal.departure_airport.city.name %></h5>
          </div>
          <div class="col-sm-6">
            <%= image_tag @jetsteal.arrival_airport.city.image.url(:original), class: 'img-responsive' %>
            <h5 class="text-center"><small>To: </small> <%= @jetsteal.arrival_airport.city.name %></h5>
          </div>
        </div>
      </li>
      <!--<li class="margin-top">-->
        <!--<dl>-->
          <!--<dt><strong> <i class="fa fa-plane"></i> Aircraft</strong></dt>-->
          <!--<dd><%#= @jetsteal.aircraft.aircraft_type.name %></dd>-->
          <!--<dt><strong><i class="fa fa-check-square"></i> Facilities</strong></dt>-->
        <!--</dl>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="col-sm-6">
    <h5 class="text-center highlight-color">Click on a seat to buy</h5>
    <ul class="list-inline text-center">
      <li><span class="label label-warning">&nbsp;</span> <small><strong>Available seat</strong></small></li>
      <li><span class="label label-danger">&nbsp;</span> <small><strong>Seat not for sale</strong></small></li>
      <li><span class="label label-success">&nbsp;</span> <small><strong>Chosen seat</strong></small></li>
      <li><span class="label label-primary">&nbsp;</span> <small><strong>Already booked</strong></small></li>
    </ul>
    <div id="plane-svg"><%= @jetsteal.aircraft.aircraft_type.svg.html_safe %></div>
  </div>
  <div class="col-sm-3">
    <div id="seat_selection_info" ng-show="ctrl.chosen_seats.length <= 0">
      <h4 class="highlight-color text-center">How to choose seats?</h4>
      <ol>
        <li class="margin-top">Click on <span class="label label-warning">&nbsp;</span> colored seat to add it to cart</li>
        <li class="margin-top"><span class="label label-danger">&nbsp;</span> colored seats are not available for sale. Some operators customize their plane and remove some seats.</li>
        <li class="margin-top">When you add a seat to cart its colored <span class="label label-success">&nbsp;</span>, click on it again to remove it from cart.</li>
        <li class="margin-top"><span class="label label-primary">&nbsp;</span> colored seats are already booked by others. Once you book a seat you can contact operations and customer support to know who shares your plane.</li>
      </ol>
    </div>
    <div id="cost_breakup" ng-show="ctrl.chosen_seats.length > 0">
      <h4 class="highlight-color">Chosen Seats</h4>
      <table class="table">
        <thead>
        <tr style="background-color: #3ed2b2">
          <th>Seat ID</th>
          <th>Cost</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer seat_breakup" ng-repeat="chosen_seat in ctrl.chosen_seats">
          <td class="seat_id">{{chosen_seat.ui_seat_id}}</td>
          <td>₹ {{chosen_seat.cost}}</td>
          <td><i class="fa fa-times-circle pointer" ng-click="ctrl.removeFromChosen(chosen_seat)"></i></td>
        </tr>
        </tbody>
      </table>
      <h4 class="highlight-color">Cost Summary</h4>
      <table class="table">
        <thead>
        <tr style="background-color: #3ed2b2">
          <th>No. of Seats</th>
          <th>Total Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><strong>{{ctrl.chosen_seats.length}}</strong></td>
          <td><strong>₹ {{ctrl.grandTotal()}}</strong></td>
        </tr>
        </tbody>
      </table>
      <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-blue btn-lg pull-right"><i class="fa fa-credit-card"></i> Proceed to checkout</a>
    </div>
  </div>

  <%= render partial: 'jetsteals/lists/payment_modal' %>

</div>