<table class="outer" align="center">
  <tr>
    <td class="one-column inner contents">
      <p class="h1">Dear <%= @customer.first_name %>,</p>
      <br>
      <p>JetSetGo has received your trip details. We are going to quickly double check with the operator on price and availability before we proceed to confirm your booking.
        Our operators put in their best to maintain prices and schedules by the clock but the scope for change always exists. You will only find this all the more beneficial.</p>
    </td>
  </tr>
  <tr >
    <td class="one-column">
      <table width="100%" style="border: 1px solid #cccccc">
        <tr>
          <td class="one-column inner contents" style="border-bottom: 1px dotted #cccccc;">
            <p class="h1" style="text-align: center">Itinerary Details</p>
          </td>
        <tr>
        <tr>
          <td class="one-column inner contents">
            <p class="h1">Journey Details:</p>
          </td>
        </tr>
        <tr>
          <td class="two-column" style="border-bottom: 1px dotted #cccccc;">
            <table width="100%">
              <% @trip.activities.each do |activity| %>
                  <% next if activity.empty_leg %>
                  <tr>
                    <td class="inner" width="50%" style="text-align: left;">
                      <p class="h1" style="font-size: 14px;">
                        Departure
                      </p>
                      <p class="h2" style="font-size: 14px;">
                        <%= activity.departure_airport.name %>
                        <br>
                        <%= activity.departure_airport.city.name %>
                        <br>
                        <%= activity.start_at.strftime(time_format)%>
                      </p>
                    </td>
                    <td class="inner" width="50%" style="text-align: left;">
                      <p class="h1" style="font-size: 14px;">
                        Arrival
                      </p>
                      <p class="h2" style="font-size: 14px;">
                        <%= activity.arrival_airport.name %>
                        <br>
                        <%= activity.arrival_airport.city.name %>
                        <br>
                        <%= activity.end_at.strftime(time_format)%>
                      </p>
                    </td>
                  </tr>
              <% end %>
            </table>
          </td>
        </tr>
        <tr>
          <td class="one-column inner">
            <p class="h1">Aircraft Details:</p>
          </td>
        </tr>
        <tr>
          <td class="two-column" style="border-bottom: 1px dotted #cccccc;">
            <table width="100%">
              <tr>
                <td class="inner" width="50%" valign="top">
                 <p class="h1" style="text-align: left">Aircraft</p>
                </td>
                <td class="inner" width="50%" valign="top">
                  <p style="text-align: left"><%= @trip.activities.first.aircraft.aircraft_type.name %></p>
                </td>
              </tr>
              <tr>
                <td class="inner" width="50%" valign="top">
                 <p class="h1" style="text-align: left">Seats:</p>
                </td>
                <td class="inner" width="50%" valign="top">
                  <p style="text-align: left"><%= @trip.activities.first.aircraft.seating_capacity %></p>
                </td>
              </tr>
              <tr>
                <td class="inner" width="50%" valign="top">
                  <p class="h1" style="text-align: left">Crew:</p>
                </td>
                <td class="inner" width="50%" valign="top">
                  <p style="text-align: left"><%= @trip.activities.first.aircraft.crew %></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="one-column">
            <table width="100%">
              <tr>
                <td class="inner contents">
                  <p class="h1" style="text-align: left">Contact Information:</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="two-column">
            <table width="100%">
              <tr>
                <td class="inner" width="50%" valign="top">
                 <p class="h1" style="text-align: left;">Name:</p>
                </td>
                <td class="inner contents" width="50%" valign="top">
                  <%= @customer.full_name %>
                </td>
              </tr>
              <tr>
                <td class="inner" width="50%" valign="top">
                  <p class="h1" style="text-align: left;">Email Id:</p>
                </td>
                <td class="inner contents"width="50%" valign="top">
                  <%= @customer.email %>
                </td>
              </tr>
              <tr>
                <td class="inner"width="50%" valign="top">
                  <p class="h1" style="text-align: left;">Contact No:</p>
                </td>
                <td class="inner contents" width="50%" valign="top">
                  <%= @customer.phone %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="one-column">
            <table width="100%">
              <tr>
                <td class="inner contents">
                  <p>
                    Happy landings,<br>
                    JetSetGo Team</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>