<ul class="list-unstyled text-center">
  <li><%= link_to 'Home', '/organisations' %></li>
  <li><%= link_to 'Aircrafts', '/organisations/aircrafts' %></li>
  <li><%= link_to 'Forum', organisations_forum_topics_path %></li>
  <li><%= link_to 'Aircraft Unavailability', organisations_aircraft_unavailabilities_path %></li>
  <li><%= link_to 'Trips', organisations_trips_path %></li>
</ul>