<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li><%= link_to 'New Watch Hour', new_admin_watch_hour_path, class: 'btn btn-primary' %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>ID</th>
        <th>Airport</th>
        <th>Start at</th>
        <th>End at</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @watch_hours.each do |watch_hour| %>
          <tr>
            <td><%= watch_hour.id %></td>
            <td><%= watch_hour.airport.name if watch_hour.airport.present? %></td>
            <td><%= watch_hour.start_at.strftime('%d-%b-%Y %H:%M') %></td>
            <td><%= watch_hour.end_at.strftime('%d-%b-%Y %H:%M') %></td>
            <td>
              <%= link_to edit_admin_watch_hour_path(watch_hour) do %>
                <i class="fa fa-edit"></i>
              <% end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @watch_hours %>