<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li><%= link_to 'New Airport', new_admin_airport_path, class: 'btn btn-primary' %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Name</th>
        <th>City</th>
        <th>Created By</th>
        <th>Updated By</th>
      </tr>
      </thead>
      <tbody>
      <% @airports.each do |airport| %>
          <tr>
            <td><%= airport.name %></td>
            <td><%= airport.city.name %></td>
            <td><%= airport.creator.full_name if airport.creator %></td>
            <td><%= airport.last_updater.full_name if airport.last_updater %></td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>