<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li><%= link_to 'New Airport', new_admin_airport_path, class: 'btn btn-primary' %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Name</th>
        <th>City</th>
        <th>Created By</th>
        <th>Updated By</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @airports.each do |airport| %>
          <tr>
            <td><%= airport.name %></td>
            <td> <%= image_tag airport.city.image.url(:original), style: 'width: 50px' %> <%= airport.city.name %></td>
            <td><%= airport.creator.full_name if airport.creator %></td>
            <td><%= airport.last_updater.full_name if airport.last_updater %></td>
            <td>
              <%= link_to edit_admin_airport_path(airport) do %>
                  <i class="fa fa-edit"></i>
              <%- end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>