<table class="outer" align="center">
  <tr>
    <td class="one-column inner contents">
      <p class="h1">Hi, <%= @operator.full_name %></p>
      <p><strong>Details:</strong></p>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
            <tr>
              <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
                <p class="h2" style="font-size: 14px;">Name</p>
              </td>
              <td class="inner" width="60%" valign="top">
                  <p class="h2" style="font-size: 14px;"><%= @yatra_enquiry.name %></p>
              </td>
            </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
        <tr>
          <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
            <p class="h2" style="font-size: 14px;">Email</p>
          </td>
          <td class="inner" width="60%" valign="top">
            <p class="h2" style="font-size: 14px;"><%= @yatra_enquiry.email %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
        <tr>
          <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
            <p class="h2" style="font-size: 14px;">Mobile No.</p>
          </td>
          <td class="inner" width="60%" valign="top">
            <p class="h2" style="font-size: 14px;"><%= @yatra_enquiry.mobile_number %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
        <tr>
          <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
            <p class="h2" style="font-size: 14px;">Package</p>
          </td>
          <td class="inner" width="60%" valign="top">
            <p class="h2" style="font-size: 14px;"><%= @yatra_enquiry.package %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
        <tr>
          <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
            <p class="h2" style="font-size: 14px;">Date of Travel</p>
          </td>
          <td class="inner" width="60%" valign="top">
            <p class="h2" style="font-size: 14px;"><%= @yatra_enquiry.date_of_travel.strftime(time_format) %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>