<table class="outer" align="center">
  <tr>
    <td class="one-column inner contents">
      <p class="h1">Hi,</p>
      <p>
        <strong><%= @operator.full_name %></strong> delete enquiry of <strong><%= @trip.organisation.name %></strong>
      </p>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table class="table-content" width="100%" style="border: 1px solid #cccccc">
        <% @trip.attributes.except('id',
                                   'organisation_id',
                                   'created_at',
                                   'updated_at',
                                   'deleted_at',
                                   'user_id',
                                   'payment_transaction_id').each_pair do |key, value| %>
            <tr>
              <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
                <p class="h2" style="font-size: 14px;"><%= key.gsub("_", " ").capitalize %></p>
              </td>
              <td class="inner" width="60%" valign="top">
                <p class="h2" style="font-size: 14px;">
                  <%= value %>
                </p>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td class="one-column inner contents">
      <p>
        <strong>Legs</strong>
      </p>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <% @trip.activities.each do |activity| %>
          <table class="table-content" width="100%" style="border: 1px solid #cccccc">
            <% activity.attributes.except('id',
                                          'aircraft_id',
                                          'trip_id',
                                          'created_at',
                                          'updated_at',
                                          'deleted_at',
                                          'user_id',
                                          'payment_transaction_id').each_pair do |key, value| %>
                <tr>
                  <td class="inner" width="40%" valign="top" style="border-right:1px solid #cccccc">
                    <p class="h2" style="font-size: 14px;">
                      <% if key == 'departure_airport_id' %>
                          Departure Airport
                      <% elsif key == 'arrival_airport_id' %>
                          Arrival Airport
                      <% else %>
                          <%= key %>
                      <% end %>
                    </p>
                  </td>
                  <td class="inner" width="60%" valign="top">
                    <p class="h2" style="font-size: 14px;">
                      <% if key == 'departure_airport_id' %>
                          <%= activity.departure_airport.name %>
                      <% elsif key == 'arrival_airport_id' %>
                          <%= activity.arrival_airport.name %>
                      <% elsif key == 'start_at' || key == 'end_at' %>
                          <%= value.strftime(time_format) %>
                      <% else %>
                          <%= value %>
                      <% end %>
                    </p>
                  </td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </td>
  </tr>
</table>