<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Hi, <%= @operator.full_name %></p>
            <p>New Topic <br/><br/>
              Organisation : <strong><%= @comment.organisation.name %></strong><br/>
              Forum topic  : <strong><%= @comment.forum_topic.statement %></strong><br/>
              Commented by : <strong><%= @comment.operator.full_name %></strong><br/>
              Comment      : <strong><%= @comment.comment %></strong>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>