<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1">Hi,</p>
            <br>
            <p>
              <strong><%= @operator.full_name %></strong> generate new quote from <strong><%= @trip.organisation.name %></strong>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <table width="100%">
        <% @trip.attributes.except('id',
                                   'organisation_id',
                                   'created_at',
                                   'updated_at',
                                   'deleted_at',
                                   'user_id',
                                   'payment_transaction_id').each_pair do |key, value| %>
            <tr style="border: 1px solid #000000;">
              <td width="50%" valign="top" style="border: 1px solid #000000;">
                <div class="column">
                  <table width="100%">
                    <tr>
                      <td class="inner">
                        <p class="h2" style="font-size: 14px;"><%= key.gsub("_"," ").capitalize  %></p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td width="50%" valign="top" style="border: 1px solid #000000;">
                <div class="column">
                  <table width="100%">
                    <tr>
                      <td class="inner">
                        <p class="h2" style="font-size: 14px;">
                          <%=
                              case value
                                when true
                                  "Yes"
                                when false
                                  "No"
                                else
                                  value
                              end
                          %>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p>
              <strong>Legs</strong>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <% @trip.activities.each do |activity| %>
          <table width="100%" style="border: 1px solid #09c; margin-top: 10px; ">
            <% activity.attributes.except('id',
                                          'aircraft_id',
                                          'trip_id',
                                          'created_at',
                                          'updated_at',
                                          'deleted_at',
                                          'user_id',
                                          'payment_transaction_id').each_pair do |key, value| %>
                <tr style="border: 1px solid #000000;">
                  <td width="50%" valign="top" style="border: 1px solid #000000;">
                    <div class="column">
                      <table width="100%">
                        <tr>
                          <td class="inner">
                            <p class="h2" style="font-size: 14px;">
                              <% if key == 'departure_airport_id' %>
                                  Departure airport
                              <% elsif key == 'arrival_airport_id' %>
                                  Arrival airport
                              <% else %>
                                  <%= key.gsub("_"," ").capitalize  %>
                              <% end %>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td width="50%" valign="top" style="border: 1px solid #000000;">
                    <div class="column">
                      <table width="100%">
                        <tr>
                          <td class="inner">
                            <p class="h2" style="font-size: 14px;">
                              <% if key == 'departure_airport_id' %>
                                  <%= activity.departure_airport.name %>
                              <% elsif key == 'arrival_airport_id' %>
                                  <%= activity.arrival_airport.name %>
                              <% elsif key == 'start_at' || key == 'end_at' %>
                                  <%= value.strftime(time_format) %>
                              <% else %>
                                  <%=
                                      case value
                                        when true
                                          "Yes"
                                        when false
                                          "No"
                                        else
                                          value
                                      end
                                  %>
                              <% end %>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </td>
  </tr>
</table>