<ul class="list-unstyled text-center">
  <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
  <li><%= link_to 'Organisations', admin_organisations_path %></li>
  <li><%= link_to 'Cities', admin_cities_path %></li>
  <li><%= link_to 'Airports', admin_airports_path %></li>
  <li><%= link_to 'Airport Categories', admin_airport_categories_path %></li>
  <li><%= link_to 'Airport Suppliers', admin_airport_suppliers_path %></li>
  <li><%= link_to 'Distance', admin_distances_path %></li>
  <li><%= link_to 'Aircraft Types', admin_aircraft_types_path %></li>
  <li><%= link_to 'Aircrafts', admin_aircrafts_path %></li>
  <li><%= link_to 'Aircraft Categories', admin_aircraft_categories_path %></li>
  <li><%= link_to 'Suppliers', admin_suppliers_path %></li>
  <li><%= link_to 'Jetsteals', admin_jetsteals_path %></li>
  <li><%= link_to 'Models (Database)', admin_models_path %></li>
  <li><%= link_to 'Watch Hours', admin_watch_hours_path %></li>
  <li><%= link_to 'Notams', admin_notams_path %></li>
  <li><%= link_to 'Taxes', admin_taxes_path %></li>
  <li><%= link_to 'Jetsteal - Send emails', send_collection_emails_admin_jetsteals_path %></li>
  <li><%= link_to 'Jsg Updates', admin_jsg_updates_path %></li>
  <li><%= link_to 'Enquiries', admin_enquiries_path %></li>
  <li><%= link_to 'Quotes', admin_quotes_path %></li>
  <li><%= link_to 'Handling cost grids', admin_handling_cost_grids_path %></li>

</ul>