<div class="row">
  <div class="col-sm-2">
    <%= render partial: '/organisations/shared/sidebar' %>
  </div>
  <div class="col-sm-10">
    <h3 class="main-heading forum_">
      <i class="fa fa-quote-left"></i> Forum Topics
      <%= link_to new_organisations_forum_topic_path, class: 'pull-right' do %>
          <i class="fa fa-plus"></i> New Topic
      <%- end %>
    </h3>
    <ul class="list-unstyled">
      <% @forum_topics.each do |forum_topic| %>
          <li>
            <%= link_to organisations_forum_topic_path(forum_topic) do %>
                <div class="forum-topic-container margin-top">
                  <h3><%= forum_topic.statement %></h3>
                  <div class="row">
                    <div class="col-sm-8">
                      <p><%= forum_topic.description %></p>
                    </div>
                    <div class="col-sm-4 text-right">
                      <ul class="list-inline">
                        <li><%= forum_topic.organisation.name %></li>
                        <li><%= forum_topic.created_at.strftime('%d %b %Y') %></li>
                      </ul>
                    </div>
                  </div>
                </div>
            <%- end %>
          </li>
      <%- end %>
      <li><%= will_paginate @forum_topics %></li>
    </ul>
  </div>
</div>