<div class="row" ng-controller="ForumTopicCommentsController as ctrl">
  <div class="col-sm-12 forum-content-main main-top-data">
    <h3 class="main-heading">
      Forum Topics Comments
    </h3>
    <!--%= link_to 'Back', organisations_forum_topics_path, class: 'btn btn-primary large-button' %-->
    <h4 class="forum-heading"><%= @forum_topic.statement %></h4>
    <ul class="list-inline text-right">
      <li><strong><%= @forum_topic.organisation.name %></strong></li>
      <li><strong>Posted By:</strong> <%= @forum_topic.operator.full_name %></li>
      <li><strong>Posted On:</strong> <%= @forum_topic.created_at.strftime('%d %b %Y') %></li>
    </ul>
    <p class="main-text forum-content"><%= @forum_topic.description %></p>
    
    <div class="row comment-section">
      <div class="col-sm-12 col-xs-12 scroll-con">
        <ul class="list-unstyled comment-box">
          <li ng-class="{true:'bg-coment-green', false:'bg-coment-gray'}[<%= current_user.id %> == forum_topic_comment.operator_id]" ng-repeat="forum_topic_comment in ctrl.forum_topic_comments">
            <div class="forum-topic-container forum-topic-container2 margin-top">
            <img class="chat-arrow-left" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/120/original/gray_chat_arrow.png?1459331983">
            <img class="chat-arrow-right" src="http://d3tfanr7troppj.cloudfront.net/static_files/images/000/000/121/original/Green_chat_arrow.png?1459332001">
            <ul class="list-inline date-main-con text-right" ng-class="{true:'bg-cmnt-darkgreen', false:'bg-cmnt-darkgray'}[<%= current_user.id %> == forum_topic_comment.operator_id]">
              <li><strong>{{forum_topic_comment.organisation}}</strong></li>
              <li><strong>By:</strong> {{forum_topic_comment.operator}}</li>
              <li><strong>On:</strong> {{forum_topic_comment.created_at}}</li>
              </ul>
              <p>{{forum_topic_comment.comment}}</p>
              
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-xs-12 comment-section">
        <div class="col-xs-12">
          <fieldset>
            <legend><small>Add a comment</small></legend>
            <form ng-submit="ctrl.addNewComment()">
            <div class="row">
              <div class="col-sm-12 field">
                <label style="display: none" for="comment">Comment</label>
                <textarea id="comment" rows="2" class="form-control comment-text" ng-model="ctrl.newComment.comment"></textarea>
                <input type="submit" class="save-btn" value="">
              </div>
            </div>
            </form>
          </fieldset>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>