<div class="admin-main-con">
  <div class='col-xs-12'>
    <h2>Jetsteal Subscriptions</h2>
    <div class="admin_content_body">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped">
            <thead>
            <tr class="info">
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Departure airport</th>
              <th>Arrival airport</th>
              <th>Pax</th>
              <th>Date</th>
              <th>Created at</th>

            </tr>
            </thead>
            <tbody>
            <% @jetsteal_subscriptions.each do |jetsteal_subscription| %>
                <tr>
                  <td><%= jetsteal_subscription.id %></td>
                  <td><%= jetsteal_subscription.name.titleize %></td>
                  <td><%= jetsteal_subscription.email %></td>
                  <td><%= jetsteal_subscription.phone %></td>
                  <td><%= jetsteal_subscription.departure_airport %></td>
                  <td><%= jetsteal_subscription.arrival_airport %></td>
                  <td><%= jetsteal_subscription.pax %></td>
                  <td><%= jetsteal_subscription.date %></td>
                  <td><%= jetsteal_subscription.created_at.strftime(time_format) %></td>
                </tr>
            <%- end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= will_paginate @jetsteal_subscriptions %>
    </div>
  </div>
</div>