<!DOCTYPE html>
<html lang="en" ng-app="jetsetgo_app">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JetSetGo</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/header' %>
<%= yield %>
</body>
</html>
