<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>JetSteals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'jetsteals', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jetsteals', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: 'shared/zendesk_widget' %>
  <meta name="google-analytics" content="UA-72645587-1">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72645587-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
<%= query_diet_widget if Rails.env.development? %>
<%= render partial: 'jetsteals/shared/header' %>
<%= render partial: 'jetsteals/shared/alerts' %>
<%= yield %>
<%= render partial: 'jetsteals/shared/footer' %>
</body>
</html>