<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>JetSteals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'jetsteals', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jetsteals', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: 'shared/zendesk_widget' %>
</head>
<body>
<%= query_diet_widget if Rails.env.development? %>
<%= render partial: 'jetsteals/shared/header' %>
<div class="container-fluid">
  <%= yield %>
</div>
<%= render partial: 'jetsteals/shared/footer' %>
</body>
</html>